// Colors
$color-primary: #69d457;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
// $color-primary: #2998ff;
// $color-primary-light: #5643fa;
// $color-primary-dark: #3627bd;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #69d457;
$color-tertiary-dark: #28b485;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$color-danger: #fa572e;

// Font
$font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$grid-row-height: 6rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;
