// Text utilities
.u-text-center {
  text-align: center;
}

// Margin bottom utilities
.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-mb-medium {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 9rem;
}

.u-mb-huge {
  margin-bottom: 12rem;
}
// Margin top utilities
.u-mt-small {
  margin-top: 1.5rem;
}

.u-mt-medium {
  margin-top: 4rem;
}

.u-mt-big {
  margin-top: 9rem;
}

.u-mt-huge {
  margin-top: 12rem;
}