.booking-box {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 60%,
      transparent 60%
    ),
    url('~@/assets/images/nat-10.jpg');
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  @include responsive(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url('~@/assets/images/nat-10.jpg');
    background-size: cover;
  }

  @include responsive(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url('~@/assets/images/nat-10.jpg');
    background-size: cover;
  }

  &__form-container {
    padding: 6rem;
    width: 70%;

    @include responsive(tab-land) {
      width: 75%;
    }

    @include responsive(tab-port) {
      width: 100%;
    }
  }
}
